body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.content-center{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-button{
  background-color: #F15E2B;
  border-color: #F15E2B;
  color: #fff;
}

.custom-button:hover{
  background-color: #fff !important;
  border-color: #F15E2B !important;
  color: #F15E2B !important;
}

.social-button:hover{
  border-color: #F15E2B !important;
  color: #F15E2B !important;
}

.custom-input:hover{
  border-color: #F15E2B !important;
}

.custom-input:focus,
.custom-input-focused {
  border-color: #F15E2B !important;
  box-shadow: 0 0 0 2px rgba(241, 94, 43, 0.2); /* hiệu ứng shadow nhẹ */
  outline: none;
}


.custom-link{
  color: #F15E2B;
}

.custom-link:hover{
  color: #F15E2B !important;
}

/* Hover khi chưa tick */
.custom-checkbox:hover .ant-checkbox-inner,
.custom-checkbox .ant-checkbox-input:hover + .ant-checkbox-inner {
  border-color: #F15E2B;
}

/* Checkbox đã tick */
.custom-checkbox .ant-checkbox-checked .ant-checkbox-inner {
  background-color: #F15E2B;
  border-color: #F15E2B;
}

/* Hover khi đã tick - override màu xanh của AntD */
.custom-checkbox .ant-checkbox-checked:hover .ant-checkbox-inner,
.custom-checkbox .ant-checkbox-input:checked:hover + .ant-checkbox-inner {
  background-color: #F15E2B!important;
  border-color: #F15E2B!important;
}

/* Bỏ border mặc định khi checked */
.custom-checkbox .ant-checkbox-checked::after {
  border: none;
}

/* Hover label chữ cũng đổi màu */
.custom-checkbox:hover .ant-checkbox + span {
  color: #F15E2B;
  cursor: pointer;
}

.head-text{
  color: #F15E2B !important;
}

.ant-menu-item-icon.MuiSvgIcon-root {
  font-size: 20px !important;
  width: 20px !important;
  height: 20px !important;
}

.ant-menu-title-content a:hover {
  text-decoration: none;
}

/* Màu cam khi item được chọn */
.ant-menu-item-selected {
  color: #F15E2B !important;
}

/* Nếu muốn icon cũng thành màu cam */
.ant-menu-item-selected .ant-menu-item-icon {
  color: #F15E2B !important;
}

/* Nếu dùng MUI icon, cần thêm cái này nữa */
.ant-menu-item-selected .MuiSvgIcon-root {
  color: #F15E2B !important;
}

.ant-input:hover {
  color: #F15E2B;
}

